/*Company*/
.tab-content p {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 1.44;
    color: #4a4a4a;
    padding: 25px 80px;
}

/*Bottom values*/
#content {
    margin-bottom: 0px;
    z-index: 100;
    margin-top: 0px;
    padding-top: 30px;
}
img {
    width: 100%;
}
.tab-content #bottom-values {
    background-color: #f6f6f6;
}
.tab-content #bottom-values h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}
.tab-content #bottom-values .title-icon {
    text-align: center;
}
.tab-content #bottom-values p img {
    width: 65px;
}
.tab-content #bottom-values h3 {
    text-align: center;
    font-size: 14px;
}
.tab-content #bottom-values .content {
    text-align: left;
    padding: 0px 10px;
}

/*Team*/
#about-team .team-member {
    padding-top: 40px;
    padding: 110px;
}
#about-team .team-img-left {
    max-width: 185px;
    float: left;
}
#about-team h2 {
    font-size: 24px;
}
#about-team h3 {
    margin-top: -30px;
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.1px;
    color: #727272;
}
#about-team p {
    line-height: 1.44;
    font-size: 11px;
    font-weight: 300;
    margin-top: -15px;
    font-family: 'Lato';
    padding: 0px;
    letter-spacing: 0.5px;
    color: #727272;
}
#about-team .team-img-right {
    max-width: 185px;
    float: right;
}
#about-team .team-grid {
    margin-top: 65px;
    padding: 30px;
}
#about-team .team-bottom {
    background-color: #e2e2e2;
    margin-top: 50px;
}
#about-team .member {
    width: 150px;
    display: inline-block;
    padding: 15px;
    height: 210px;
    float: left;
}
#about-team .team-bottom h4 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400;
}
#about-team .team-bottom p {
    line-height: 1.44;
    font-size: 9px;
    font-weight: 300;
    margin-top: -15px;
    font-family: 'Lato';
    padding: 0px;
    letter-spacing: 0.5px;
    color: #727272;
    text-align: center;
}

/*Career*/
#about-career p {
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    line-height: 2.31;
    color: #4a4a4a;
}
#about-career .bottom-section {
    background-color: #e6e6e6;
    padding: 25px;
}
#about-career .bottom-section select {
    width: 100%;
    height: 35px;
    background-color: transparent;
    margin-bottom: 20px;
}
#about-career .bottom-section h2 {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
#about-career .result {
    background-color: #fff;
    padding: 12px 40px;
    border-radius: 15px;
}
#about-career h3 {
    font-size: 14px;
    font-family: 'Lato';
}
#about-career .tags {
    padding: 0px;
    text-align: left;
    font-size: 10px;
    margin-top: -35px;
    color: #b3b3b3;
}
#about-career .tags span {
    padding-right: 10px;
}
#about-career .description {
    padding: 0px;
    text-align: left;
    line-height: 1.5;
    font-size: 13px;
    color: #757575;
}

@media all and (min-width: 768px) and (max-width: 990px) {
    #content .tabs .tab-nav {
        margin-left: 30%;
    }
    .team-bottom {
        background-color: transparent;
    }
}

@media all and (min-width: 200px) and (max-width: 768px) {
    #content .tabs .tab-nav {
        margin-left: 12%;
    }
    .team-bottom {
        background-color: transparent !important;
    }
}

