.sticky-header #header-wrap {
    background-color: #fff !important;
}
.contact-container {
    margin-top: 40px;
}
.contact-container h3 {
    font-size: 22px;
}
/*.contact-container .left {*/
    /*float: right;*/
/*}*/
/*.contact-container .right {*/
    /*float: left;*/
/*}*/
.contact-container .address img {
    width: 30px;
    display: inline-block;
    margin-top: -85px;
    margin-right: 20px;
    padding: 0 !important;
}
.contact-container .address p {
    display: inline-block;
}
.contact-container .telephone img {
    width: 30px;
    display: inline-block;
    margin-right: 20px;
    padding: 0 !important;
}
.contact-container .telephone p {
    display: inline-block;
}
.contact-container .email img {
    width: 30px;
    display: inline-block;
    margin-right: 20px;
    padding: 0 !important;
}
.contact-container .email p {
    display: inline-block;
}
.bottom-row {
    background-color: rgba(216, 216, 216, 0.22);
    margin-top: 50px;
}
.bottom-row h3 {
    margin-top: 30px;
}
.bottom-row input {
    height: 28px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid transparent;

}
.bottom-row input:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(255, 0, 20, 0.3);
    border: 1px solid rgba(255, 49, 49, 0.16);
}

.bottom-row textarea {
    width: 100%;
    border-radius: 3px;
    border-color: transparent;
    margin-top: 20px;
}
.btn-red {
    width: 170px;
    height: 30px;
    margin-top: 20px;
    font-size: 10px;
    border-radius: 100px;
    font-weight: 100;
    background-image: linear-gradient(to bottom, #f95632, #d80020);
    color: #fff;
    margin-bottom: 50px;
}
.success-message {
    background-color: #5bec6d52;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #ececec;
    float: right;
    margin-top: 10px;
}