/*************************************************************************
 *
 * CONFIDENTIAL
 * __________________
 *
 *  [2014] - [2024]
 *  All Rights Reserved.
 *
 * Developed by - Pavithra Isuru
 * Created on - 10/10/17 16:41.
 */
/* ---------------------------------------------------------------- */



/*Public styles*/
/*------------------------------------------------------------------*/
input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px #f3970a;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ffbe1e;
}
.shine-line:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -110%;
    width: 150%;
    height: 200%;
    opacity: 0;
    transform: rotate(2deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%
    );
}

button {
    position: relative;
}

a * {
    cursor: pointer !important;
}

button div {
    visibility: visible;
    width: 30px;
    position: absolute;
    top: 4px;
    right: 15px;
}

/* Hover state - trigger effect */

.shine-line:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
}

/* Active state */

.shine-line:active:after {
    opacity: 0;
}

/*Slider Section*/
/*------------------------------------------------------------------*/
#right-menu .menu-border {
    border: 1px solid #ec1d24;
    padding: 4px 10px; margin-top: -6px;
}

#slider .slider-img-container {
    margin-left: 2%;
    text-align: center;
}
#slider .slider-img-container img {
    width: 50%;
    margin-top: 120px;
}
#slider-banner {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}

#slider .main-button {
    text-align: center;
    margin-left: 2%;
}
#slider .partners-top-container {
    margin-left: 17%;
    margin-top: 0;
}
#slider .partners-container img {
    cursor: pointer;
    max-width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    -webkit-transition: -webkit-filter 200ms linear;
    -ms-transition: -webkit-filter 200ms linear;
    transition: -webkit-filter 200ms linear;

    -webkit-transition: filter 200ms linear;
    -ms-transition: filter 200ms linear;
    transition: filter 200ms linear;

    -webkit-transition-delay: .5s; /* Safari */
    transition-delay: .5s;
}
#slider .partners-container img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);

    -webkit-transition: -webkit-filter 500ms linear;
    -ms-transition: -webkit-filter 500ms linear;
    transition: -webkit-filter 500ms linear;

    -webkit-transition: filter 500ms linear;
    -ms-transition: filter 500ms linear;
    transition: filter 500ms linear;
}
#slider .partners-bottom-container {
    margin-left: 0;
    margin-top: 10px;
}
#logo p {
    text-align: center;
}

/*Content Section*/
/*---------------------------------------------------------------*/

#content .title {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    margin-left: 3px;
    font-weight: 600;
    letter-spacing: 3.2px;
}
#content .description {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.28;
    letter-spacing: 1.1px;
    margin-top: -25px;
}
#content .btn {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid;
    border-image-slice: 1;
    transition: background-color 0.4s ease;
    background: none;
}
/*section 1*/
#content .section-1 {
    background-color: #232323;
    padding: 80px;
    padding-top: 50px;
    margin-top: -80px;
 }
#content .section-1 .desc {
    margin-top: 14%;
    max-width: 750px;
    padding-left: 8%;
 }
#content .section-1 .desc .title {
    opacity: 0.63;
    color: #ffffff;
}
#content .section-1 .desc .description {
    color: #ffffff;
}
#content .section-1 .btn {
    color: #d80020;
}
#content .section-1 .btn:hover {
    background-color: rgba(216, 0, 32, 0.2);
}

#content .section-1 .img-container {
    text-align: center;
}
#content .section-1 img {
    max-width: 50%;
    float: right;
    position: relative;
    right: 30%;
}
/*Section 2*/
#content .section-2 {
    background-size: cover;
    height: 100%;
    margin-top: -50px;
    position: relative;
}
#content .section-2 .desc {
    margin-top: 16%;
    margin-left: 0;
    max-width: 750px;
    width: 80%;
}
#content .section-2 .desc .title {
    opacity: 0.68;
    color: #4a4a4a;
}
#content .section-2 .desc .description {
    color: #ffffff;
}
#content .section-2 .btn {
    color: #d80020;
}
#content .section-2 .btn:hover {
    background-color: #dedddb;
}
#content .section-2 img {
    position: relative;
    top: 85px;
    float: right;
    width: 95%;
}
/*Section 3*/
#content .section-3 {
    background-image: linear-gradient(100deg, #3c76bc, #00aed6, #00d687);
    background-size: cover;
    height: 700px;
    margin-top: 0;
}
#content .section-3 .desc {
    margin-top: 14%;
    margin-left:40%;
    width: 80%;
    max-width: 600px;
}
#content .section-3 .desc .title {
    opacity: 0.72;
    color: #FFFFFF;
}
#content .section-3 .desc .description {
    color: #ffffff;
}
#content .section-3 .btn {
    color: #fff;
}
#content .section-3 .btn:hover {
    background-color: #00aed4;
}
#content .section-3 .ad-campaign-canvas {
    position: relative;
}
#content .section-3 .ad-campaign-canvas img {
    position: absolute;
}
#content .section-3 .ad-campaign-canvas .img-adclear {
    max-width: 400px;
}
#content .section-3 .ad-campaign-canvas .img-gmail-ad {
    top: 40px;
    left: 350px;
    max-width: 250px;
    z-index: 101;
}
#content .section-3 .ad-campaign-canvas .img-gmail {
    left: 377px;
    top: 25px;
    max-width: 80px;
}
#content .section-3 .ad-campaign-canvas .img-google {
    top: 113px;
    left: 587px;
    z-index: 101;
}
#content .section-3 .ad-campaign-canvas .img-map {
    top: 125px;
    left: 237px;
}
#img-ad-screen {
    position: relative;
    z-index: 100;
    /*bottom: -160px;*/
    right: -60%;
    max-width: 55%;
}
/*Section 4*/
#content .section-4 {
    background-color: #efefef;
    margin-top: -505px;
}
#content .section-4 .desc {
    margin-top: 13%;
    /*width: 80%;*/
    /*max-width: 750px;*/
}
#content .section-4 .desc .title {
    opacity: 0.85;
    color: #727272;
}
#content .section-4 .desc .description {
    color: #4a4a4a;
}
#content .section-4 .btn {
    color: #d80020;
}
#content .section-4 .btn:hover {
    background-color: #dedddb;
}
#content .section-4 .ad-campaign-canvas {
    position: relative;
}
#content .section-4 .ad-campaign-canvas img {
    position: relative;
}
#content .section-4 .ad-campaign-canvas .img-linkedin {
    left: 211px;
    z-index: 100;
    width: 240px;
    top: -25px;
}
#content .section-4 .ad-campaign-canvas .img-linkedin-logo {
    width: 70px;
    left: 195px;
    top: 80px;
}
#content .section-4 .ad-campaign-canvas .img-fb {
    z-index: 100;
    left: 441px;
    top: 28px;
    width: 240px;
}
#content .section-4 .ad-campaign-canvas .img-fb-logo {
    left: 456px;
    z-index: 100;
    width: 70px;
    top: 120px;
}
#img-social {
    position: relative;
    z-index: 156;
    margin-top: -50px;
}
/*Section 5*/
#content .section-5 {
    background-color: #efefef;
    margin-top: -400px;
    min-height: 480px;
}
#content .section-5 .desc {
    margin-top: 12%;
    width: 80%;
}
#content .section-5 .desc .title {
    opacity: 0.85;
    color: #727272;
}
#content .section-5 .desc .description {
    color: #4a4a4a;
}
#content .section-5 .btn {
    color: #d80020;
}
#content .section-5 .btn:hover {
    background-color: #dedddb;
}
#img-tele {
    position: relative;
    z-index: 100;
    top: 116px;
    left: 55%;
    max-width: 35%;
}
/*Section 6*/
#content .section-6 {
    margin-top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #fff;
}
#content .section-6 h4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1.63;
    letter-spacing: 1px;
    color: #4a4a4a;
    margin-top: 20px;
}
#content .section-6 .logo-container {
    text-align: center;
}
#content .section-6 .logo-container img {
    width: 8%;
    padding: 0 !important;
}
#content .section-6 h5 {
    text-align: center;
    opacity: 0.85;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 4.56;
    letter-spacing: 3.7px;
    color: #727272;
}
#content .section-6 .containers {
    padding: 40px;
}
#content .section-6 .left-container {
    padding: 15px;
    position: relative;
    margin-bottom: 30px;
    /*background-color: #4a4a4a;*/
}
#content .section-6 .left-box {
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0;
    background-color: #fbfbfb;
    /*max-width: 350px;*/
    /*float: right;*/
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}
#content .section-6 .left-box:hover {
    box-shadow: 8px 3px 15px 10px rgba(0, 0, 0, 0.1);
}
#content .section-6 .left-top {
    margin-bottom: 15px;
    padding: 30px;
}
#content .section-6 .left-bottom {
    background-color: #4a4a4a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    /*margin-bottom: 30px;*/
}
#content .section-6 .left-bottom p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 1.56;
    letter-spacing: 1.5px;
    border-radius: 3px;
    padding-bottom: 0;
    text-align: center;
    height: 60px;
}
#content .section-6 .left-bottom img {
    position: relative;
    width: 70px;
    top: -30px;
    margin-bottom: -15px;
}


#content .section-6 .right-container {
    padding: 15px;
    position: relative;
    /*background-color: #4a4a4a;*/
}
#content .section-6 .right-box {
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0;
    background-color: #fbfbfb;
    /*max-width: 350px;*/
    float: left;
    transition: all 0.3s ease-in-out;
}
#content .section-6 .right-box:hover {
    box-shadow: 8px 3px 15px 10px rgba(0, 0, 0, 0.1);
}
#content .section-6 .right-top {
    margin-bottom: -9px;
    padding: 30px;
}
#content .section-6 .right-bottom {
    background-color: #408db9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    padding: 0px;
}
#content .section-6 .right-bottom p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 1.56;
    letter-spacing: 1.5px;
    border-radius: 3px;
    padding-bottom: 0;
    text-align: center;
    height: 60px;
}
#content .section-6 .right-bottom img {
    position: relative;
    width: 120px;
    top: -15px;
    margin-bottom: 5px;
}

/*Section 7*/



/*Section 8*/
#content .section-8 {
    background-size: cover;
    margin-top: 0;
    background-position: right;
    background-position-x: right;
    background-position-y: bottom;
}
#content .section-8 h4 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.93;
    letter-spacing: 3.4px;
    color: #ffffff;
}
#content .section-8 p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 1.4px;
    color: #ffffff;
}
#content .section-8 input {
    width: 100%;
}
#content .section-8 textarea {
    width: 100%;
}
#content .section-8 button {
    margin-top: 20px;
    margin-left: 16px;
    width: 330px;
    padding: 7px 30px;
    height: 40px;
    border-radius: 100px;
    font-weight: 100;
    background-image: linear-gradient(to bottom, #f95632, #d80020);
    font-size: 12px;
    line-height: 1.36;
    text-align: center;
    color: #ffffff;
}
.success-message {
    background-color: #968874b8;
    padding: 12px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #9e927e;
    float: right;
    margin-top: 10px;
}

/*Footer*/
#footer p {
    text-align: center;
}
#footer ul {
    list-style-type: none;
    text-align: center;
}
#footer li {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding: 0 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#footer .bottom-white-footer {
    padding: 20px;
    background-color: #fff;
}
#footer .bottom-white-footer .logo img {
    width: 125px;
    float: right;
}
#footer .bottom-white-footer p {
    letter-spacing: 2.8px;
    color: #9e9e9e;
    font-size: 12px;
    padding-top: 10px;
}
#footer .bottom-white-footer p img {
    width: 25px;
    margin-left: 10px;
    padding: 0 !important;
}
#gotoTop {
    cursor: pointer;
}
#gotoTop svg {
    top: -5px !important;
}


/*Responsive layout*/
/*-----------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {
    #slider {
        /*min-height: 1200px;*/
    }
}
@media only screen and (max-width: 1300px) {
    #slider {
        min-height: 1000px;
    }
    #slider .slider-img-container {
        margin-left: 3%;
    }
    #slider .main-button {
        margin-left: 3%;
        margin-top: 4%;
    }
    #slider .slider-img-container img {
        width: 50%;
    }
    /*#content .section-2 img {*/
        /*margin-top: 170px;*/
    /*}*/
    #content .section-3 .ad-campaign-canvas .img-google {
        top: 184px;
        left: 13px;
        z-index: 101;
    }
    #content .section-3 .ad-campaign-canvas {
        margin-top: -8%;
    }
    #content .section-5 {
        margin-top: -215px;
    }
    #img-social {
        /*max-width: 45%;*/
    }
    #content .section-4 .ad-campaign-canvas .img-linkedin {
        left: -2px;
        z-index: 100;
        width: 240px;
        top: -25px;
    }
    #content .section-4 .ad-campaign-canvas .img-linkedin-logo {
        width: 70px;
        left: 45px;
        top: 192px;
        z-index: 100;
    }
    #content .section-4 .ad-campaign-canvas .img-fb {
        left: 181px;
        top: 28px;
    }
    #content .section-4 .ad-campaign-canvas .img-fb-logo {
        left: 379px;
    }
}
@media only screen and (max-width: 1100px) {
    #slider .slider-img-container {
        margin-left: 4%;
    }
    #slider .main-button {
        margin-left: 4%;
        margin-top: 6%;
    }
    #slider .slider-img-container img {
        width: 100%;
    }
    /*#content .section-2 img {*/
        /*margin-top: 200px;*/
    /*}*/
    #slider .slider-img-container img {
        width: 50%;
    }
    #content .section-3 .ad-campaign-canvas .img-google {
        top: 184px;
        left: 13px;
        z-index: 101;
    }
    #content .section-3 .ad-campaign-canvas {
        margin-top: -8%;
    }
    #slider {
        min-height: 1000px;
    }
}
@media only screen and (max-width: 991px) {
    #slider {
        min-height: 1000px;
    }
    #slider .slider-img-container {
        margin-left: 6%;
    }
    #slider .main-button {
        margin-left: 6%;
        margin-top: 6%;
    }
    #right-menu {
        display: none;
    }
    #logo p {
        margin-left: -25%;
    }
    #slider .slider-img-container img {
        width: 75%;
    }
    .mobile-partners-top-container .left {
        max-width: 150px;
        float: right;
    }
    .mobile-partners-top-container .right {
        max-width: 150px;
        float: left;
    }
    .mobile-partners-top-container .middle {
        max-width: 150px;
        margin-left: 25%;
    }
    #content .section-1 .desc {
        margin-top: 5%;
    }
    #content .section-2 img {
        width: 100%;
        top: 120px;
    }
    #content .section-3 {
        height: 700px;
    }
    #content .section-3 desc {
        margin-top: 0%;
        margin-left: 0%;
    }
    #img-ad-screen {
        bottom: 440px;
        right: -42%;
        max-width: 60%;
    }
    #img-social {
        position: relative;
        z-index: 100;
        /*top: -117px;*/
        left: 0px;
        max-width: 51%;
    }
    #content .section-4 .ad-campaign-canvas .img-linkedin {
        left: -2px;
        z-index: 100;
        width: 175px;
        top: -25px;
    }
    #content .section-4 .ad-campaign-canvas .img-fb {
        width: 165px;
    }
    #content .section-4 .ad-campaign-canvas .img-fb-logo {
        left: 296px;
    }
    #img-tele {
        max-width: 44%;
        top: 100px;
    }
    #content .section-5 {
        margin-top: -240px;
        height: 312px;
    }
    #content .section-5 .desc {
        margin-top: 0%;
    }
    #slider {
        min-height: 1000px;
    }
}
@media only screen and (max-width: 800px) {
    #slider .slider-img-container img {
        width: 100%;
    }
    #slider {
         min-height: 1000px;
     }
    #content .section-1 img {
        max-width: 85%;
        float: right;
        position: relative;
        right: 0%;
    }
}
@media only screen and (max-width: 768px) {
    #primary-menu {
        width: 42%;
        margin-left: 50px;
        margin-top: 50px;
    }
    #slider .slider-img-container img {
        width: 100%;
    }
    .mobile-partners-bottom-container {
        margin-top: 20px;
    }
    .mobile-partners-top-container {
        margin-top: -50px;
    }
    .mobile-partners-top-container .left {
        max-width: 180px;
        float: right;
    }
    .mobile-partners-top-container .right {
        max-width: 180px;
        float: left;
    }
    .free-consultation {
        margin-top: -17%;
    }
    #logo img {
        padding: 0;
        margin-left: -6%;
    }
    #content .section-2 {
        height: 660px;
    }
    #content .section-2 .desc {
        margin-top: 2%;
        position: absolute;
        margin-left: 30px;
    }
    #content .section-2 {
        height: 365px;
    }
    #content .section-2 img {
        width: 60%;
    }
    #content .section-3 {
        min-height: 550px;
    }
    #img-ad-screen {
        bottom: 200px;
        right: -32%;
        max-width: 70%;
    }
    #content .section-3 .desc {
        margin-top: 0;
        margin-left: 0;
    }
    #content .section-3 .ad-campaign-canvas .img-adclear {
        max-width: 80%;
    }
    #content .section-3 .ad-campaign-canvas .img-gmail-ad {
        top: 40px;
        left: 150px;
        max-width: 50%;
        z-index: 101;
    }
    #content .section-3 .ad-campaign-canvas .img-gmail {
        left: 295px;
        top: 25px;
        max-width: 18%;
    }
    #content .section-3 .ad-campaign-canvas .img-google {
        top: 238px;
        left: 13px;
        z-index: 101;
    }
    #content .section-3 .ad-campaign-canvas .img-map {
        top: 125px;
        left: 116px;
        max-width: 17%;
    }
    #img-social {
         position: relative;
         z-index: 100;
         bottom: 350px;
         left: 0px;
         max-width: 51%;
     }
    #content .section-5 {
        /*margin-top: -150px;*/
    }
    #content .section-4 {
        margin-top: -105px;
    }
}
@media only screen and (max-width: 650px) {
    #content .section-2 img {
        top: 120px;
        width: 70%;
    }
    .mobile-partners-top-container .middle {
        max-width: 150px;
        margin-left: 10%;
    }
    swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
        min-height: 850px !important;
    }
    #content .section-3 {
        height: 600px;
    }
    #img-ad-screen {
        bottom: 350px;
    }
}
@media only screen and (max-width: 500px) {
    #slider .slider-img-container img {
        width: 100%;
    }
    .partners-container img {
        width: 90%;
    }
    .mobile-partners-top-container .left {
        max-width: 125px;
        float: right;
    }
    .mobile-partners-top-container .right {
        max-width: 125px;
        float: left;
    }
    .mobile-partners-top-container .middle {
        max-width: 125px;
    }
    #img-social {
        position: relative;
        z-index: 100;
        /*top: -410px;*/
        left: -30px;
        max-width: 70%;
    }
    #content .section-4 .desc {
        margin-top: 65%;
    }
    #content .section-4 .ad-campaign-canvas .img-linkedin {
        left: -2px;
        z-index: 100;
        width: 150px;
        top: -45px;
    }
    #content .section-4 .ad-campaign-canvas .img-linkedin-logo {
        width: 70px;
        left: 0px;
        top: 75px;
        z-index: 100;
    }
    #content .section-4 .ad-campaign-canvas .img-fb {
        left: 139px;
        top: -20px;
    }
    #content .section-4 .ad-campaign-canvas .img-fb-logo {
        left: 278px;
        width: 70px;
        top: 48px;
    }
    #img-tele {
        max-width: 55%;
        top: 230px;
    }
}
@media only screen and (max-width: 450px) {
    #logo img {
        margin-left: -20%;
    }
    .free-consultation {
        margin-top: -25%;
    }
    #slider .slider-img-container img {
        width: 100%;
    }
    .partners-container img {
        width: 90%;
    }
    .mobile-partners-top-container .left {
        max-width: 100px;
        float: right;
    }
    .mobile-partners-top-container .right {
        max-width: 100px;
        float: left;
    }
    .mobile-partners-top-container .middle {
        max-width: 100px;
    }
    .mobile-partners-top-container {
        margin-top: -20px;
    }
    .free-consultation {
        margin-top: -17%;
        width: 200px;
        height: 35px;
        font-size: 12px;
        border-radius: 100px;
        font-weight: 100;
    }
    #content .section-2 img {
        top: 300px;
        width: 100%;
    }
    #content .section-2 {
        height: 550px;
    }
    #content .section-3 .ad-campaign-canvas {
        margin-top: 11%;
    }
    #content .section-3 .ad-campaign-canvas .img-google {
        top: 152px;
        left: 140px;
        z-index: 101;
    }
    #content .section-3 .ad-campaign-canvas .img-gmail {
        left: 154px;
    }
    #content .section-3 {
        height: auto !important;
    }
    #img-ad-screen {
        bottom: 390px;
        right: -22%;
        max-width: 80%;
    }
    #content .section-4 {
        margin-top: -50px;
    }
    #content .section-3 .desc {
        margin-top: 14%;
        margin-left: -2%;
        width: 100%;
    }
    #content .section-4 .desc {
        margin-top: 30px;
    }
    #content .section-5 .desc {
        margin-top: 50%;
    }
    #content .section-6 .logo-container img {
        width: 25%;
    }
    #content .section-8 button {
        width: 200px;
        height: 45px;
    }
    #content .section-6 .left-bottom {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1400px) {
    #content .section-4 {
        margin-top: -600px;
    }
    #content .section-5 {
        margin-top: -335px;
    }
    #slider {
        min-height: 1400px;
    }
}
@media only screen and (min-width: 1700px) {
    #header.full-header #primary-menu > ul {
        padding-right: 50px;
    }
    #content .section-2 {
        height: 630px;
    }
    /*#content .section-2 img {*/
        /*margin-top: 18%;*/
    /*}*/
    /*#img-ad-screen {*/
        /*top: -480px;*/
    /*}*/
    #content .section-4 {
        margin-top: -665px;
    }
    #content .section-5 {
        background-color: #efefef;
        margin-top: -375px;
    }
    #img-ad-screen {
        right: -60%;
    }
    #slider {
        min-height: 1400px;
    }
}
@media only screen and (min-width: 1900px) {
    /*#content .section-2 img {*/
        /*margin-top: 13%;*/
    /*}*/
    #slider {
        min-height: 1400px;
    }
    #content .section-4 {
        margin-top: -700px;
    }
    #content .section-5 {
        background-color: #efefef;
        margin-top: -390px;
    }
    #content .section-2 {
        height: 630px;
    }
    #content .section-2 img {
        top: 120px;
    }
    #img-ad-screen {
        right: -62%;
    }
}
@media only screen and (min-width: 2000px) {
    #content .section-2 {
        height: 630px;
    }
    #content .section-2 img {
        top: 120px;
    }
    #img-ad-screen {
        right: -62%;
    }
    #content .section-3 .ad-campaign-canvas {
        right: -10%;
    }
    #content .section-4 {
        background-color: #efefef;
        margin-top: -710px;
    }
    #content .section-5 {
        background-color: #efefef;
        margin-top: -410px;
    }
}
@media only screen and (min-width: 2100px) {
    #content .section-2 {
        height: 700px;
    }
    #img-ad-screen {
        right: -66%;
    }
    #content .section-3 .ad-campaign-canvas {
        right: -22%;
    }
    #content .section-4 {
        margin-top: -710px;
    }
    #content .section-5 {
        background-color: #efefef;
        margin-top: -450px;
    }
    #img-social {
        bottom: 40px;
    }

}
@media only screen and (min-width: 2300px) {
    #content .section-2 {
        height: 770px;
    }
    #img-ad-screen {
        right: -70%;
    }
    #content .section-3 .ad-campaign-canvas {
         right: -30%;
     }
    #content .section-4 {
        margin-top: -710px;
    }
    #content .section-5 {
        margin-top: -500px;
    }
    #img-social {
        bottom: 20px;
    }
}
@media only screen and (min-width: 2600px) {
    #content .section-2 {
        height: 865px;
    }
    #content .section-3 .ad-campaign-canvas {
        right: -38%;
    }
    #content .section-4 {
        margin-top: -710px;
    }
    #content .section-5 {
        margin-top: -500px;
    }
    #img-ad-screen {
        right: -75%;
    }
    #img-social {
        bottom: 10px;
    }
}




