.red {
    color: #ec1d24 !important;
}

#logo {
    padding: 25px;
}
#logo img {
    width: 55px;
    height: auto;
}
#primary-menu div {
    cursor: pointer;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#primary-menu .red-border {
    border: 1px solid #ec1d24;
    padding: 4px 10px;
    margin-top: -6px;
}
#primary-menu div:hover {
    color: #ec1d24;
}
#page-title .container p{
    text-align: center;
    font-family: 'Lato';
    font-size: 25px;
    letter-spacing: 1.8px;
    color: #ffffff;
}

/*Menu section*/
#content .tabs .tab-nav {
    border: none !important;
    margin-left: 38%;
    margin-top: -70px;
}
#content .tabs .tab-nav li {
    border: none;
}
#content .tabs .tab-nav li a {
    background-color: #fff !important;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #4a4a4a;
}
#content .tab-nav li a:hover {
    border-bottom: 2px solid #ec1d24;
}
.ui-state-active a {
    border-bottom: 2px solid #ec1d24 !important;
    font-weight: 600;
}

/*Footer*/
.footer-widgets-wrap {
    padding: 10px !important;
    padding-top: 25px !important;
}
#footer p {
    text-align: center;
}
#footer ul {
    list-style-type: none;
    text-align: center;
}
#footer li {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding: 0 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#copyrights {
    padding: 1px;
    border-top: 1px solid #616161;
}
#copyrights ul {
    padding-top: 15px;
}
#copyrights li a {
    color: #fff;
    font-weight: 100;
}
#copyrights li a:hover {
    color: #ec1d24;
}
#footer .bottom-white-footer {
    padding: 20px;
    background-color: #fff;
}
#footer .bottom-white-footer .logo img {
    width: 125px;
    float: right;
}
#footer .bottom-white-footer p {
    letter-spacing: 2.8px;
    color: #9e9e9e;
    font-size: 12px;
    padding-top: 10px;
}
#footer .bottom-white-footer p img {
    width: 25px;
    margin-left: 10px;
    padding: 0 !important;
}

@media all and (min-width: 200px) and (max-width: 768px) {
    .sub-section div {
        display: block !important;
    }
    .popup div {
        display: block !important;
    }
}