
.content-wrap {
    padding-bottom: 0 !important;
}
#side-navigation h4 {
    color: #9fa9ba;
    font-size: 15px;
}
.snav-container {
    float: right;
}
#side-navigation .ui-tabs-anchor {
    color: #000;
}
#side-navigation .sub {
    color: #848484 !important;
    margin-left: 15px;
    margin-top: -15px;
}
#side-navigation .menu {
    cursor: auto;
}
#side-navigation .ui-state-active a {
    border-bottom: none !important;
    color: #ec1d24 !important;
}
.section-content h3 {
    font-size: 20px;
    color: #ec1d24 !important;
}
.section-content h3 span {
    font-size: 14px;
    color: #bfbfbf;
    font-weight: 100;
    margin-left: 5px;
}
.section-content p {
    line-height: 1.44;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #727272;
    text-align: justify;
    margin-top: -20px;
}
.section-content .free-consultation {
    width: 200px;
    height: 50px;
    font-size: 13px;
    font-weight: 600;
    background-image: linear-gradient(to bottom, #f95632, #d80020);
    color: #fff;
}
.bottom-section {
    margin-top: 100px;
    background-color: #fafafa;
    padding-bottom: 50px;
}
#content {
    z-index: 100;
}



/*steps styles*/
.btn-steps {
    border: none;
    padding: 0 !important;
    background-color: #fafafa;
    color: transparent;
    width: 50px;
    margin-top: 26px;
}
.process-step .btn:focus{
    outline:none
}
.process-step i {
    color: #8c8c8c;
    font-size: 20px;
}
.process-step small {
    cursor: pointer;
}
.process .active * {
    color: #ec1d24 !important;
}
.process{
    display:table;
    width:100%;position:relative
}
.process-row{
    display:table-row
}
.process-step button[disabled]{
    opacity:1 !important;
    filter: alpha(opacity=100) !important
}
.process-row:before{
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 72%;
    left: 14%;
    height: 0px;
    background-color: #ccc;
    z-order: 0;
    border-bottom: 1px dotted;
}
.process-step{
    display:table-cell;
    text-align:center;
    position:relative
}
.process-step p{
    margin-top:4px
}
.tab-content {
    margin-top: 35px;
}
.tab-content img {
    max-width:325px;
    float: right;
}
.section-content img {
    max-width: 110% !important;
}

.sub-section .sub-box {
    padding: 23px 27px;
    border: 1px solid #e0e0e0;
    transition: all 0.2s ease-in-out;
    height: 100%;
}
.sub-section .sub-box:hover {
    box-shadow: 7px 8px 20px -5px rgba(0, 0, 0, 0.1);
}
.sub-section .sub-icon {
    margin: 70% auto;
    border-radius: 50%;
    border: 2px solid rgb(231, 231, 231);
    visibility: visible;
    width: 100px;
    padding: 14px;
}
.sub-section h3 {
    color: #ec1d24 !important;
    font-size: 16px;
    font-weight: 800;
}
.sub-section .description {
    text-align: justify;
    margin-top: -25px;
    font-size: 15px;
}
.sub-section .more-button {
    text-align: center;
    border: 1px solid #ec1d24;
    width: 100px;
    padding: 5px 10px;
    margin-top: -20px;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.sub-section .more-button span {
    color: #4b4b4b;
    transition: all 0.4s ease-in-out;
}
.sub-section .more-button:hover span {
    color: #e4000e;
}
.popup-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    top: 0%;
    left: 0%;
}
.popup {
    position: fixed;
    width: 80%;
    height: 84%;
    background-color: #fff;
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    left: 10%;
    top: 10%;
    z-index: 2;
    padding: 55px;
    overflow-y: auto;
}
.popup-container {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
.popup p {
    text-align: justify;
    font-size: 15px;
}
.popup p strong {
    margin-left: -5px;
}
.popup h3 {
    color: #ec1d24;
    text-align: center;
}
.popup h4 {
    color: #ad141a;
    font-size: 14px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 10px;
}
.popup .content {
    margin-bottom: 10px;
}
.popup .main-description {
    margin-top: -20px;
}
.popup .content-container {
    padding: 20px 25px;
    margin-top: -20px;
    height: 100%;
    border: 1px solid #efefef;
    transition: all 0.4s ease-in-out;
}
.popup .parent-content-container {
    display: flex;
    margin-bottom: 20px;
}
.popup .content-container:hover {
    box-shadow: 7px 8px 20px -5px rgba(0, 0, 0, 0.1);
}
.popup .icon-styles {
    position: absolute;
    right: 0px;
    top: -30px;
    cursor: pointer;
    visibility: visible;
    width: 30px;
}

/*Media for responsive */
@media only screen and (min-width: 1700px) {
    #top-container-row {
        margin-right: 15%;
    }
    .section-content img {
        max-width: 170% !important;
    }
}

@media only screen and (max-width: 992px) {
    .snav-container {
        float: none;
    }
    .sidenav ul {
        margin-bottom: 50px;
    }
    .sidenav li {
        margin: 0 auto;
    }
    .sub-section .sub-icon {
        margin: 10% auto;
    }
}