/*Page layout*/
.html2canvas-container { width: 10000px !important; height: 20000px !important; }

.header {
    padding:10px;
    width: 100%;
}
.header-title {
    color: #000;
    font-size: 16px;
}
.header-sub-title {
    color: #adadad;
    font-size: 12px;
    font-weight: 400;
    margin-top: -10px;
    margin-left: 12px;
}
.logo-container {
    text-align: right;
}
.company-data-table {
    padding:25px;
}
.top-data .field {
    width: 20%;
    background-color: #f9f9f9;
    font-size: 11px;
}
.top-data .data {
    width: 35%;
}
.top-data .row-empty {
    border-left-color: #fff !important;
    border-right-color: #fff !important;
}

.top-data .less {
    padding: 5px !important;
}
.top-data .row-title {
    background-color: #000;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 6px;
}
.details-data-table {
    padding: 20px;
    padding-top: 0 !important;
}
.details-table {
    margin-bottom: 50px;
}
.details-table th {
    text-align: center;
}
.details-table td {
    height: 30px;
}
.td-services{
    font-weight: 400;
    width: 32%;
    font-size: 11px;
    background-color: #a01d1d;
    color: #fff;
}
.td-terms{
    font-weight: 400;
    width: 8%;
    font-size: 11px;
    background-color: #000;
    color: #fff;
}
.td-budget{
    font-weight: 400;
    width: 15%;
    font-size: 11px;
    background-color: #000;
    color: #fff;
}
.td-setup{
    font-weight: 400;
    width: 12%;
    font-size: 11px;
    background-color: #000;
    color: #fff;
}
.td-total{
    font-weight: 400;
    width: 16%;
    font-size: 12px;
    background-color: #000;
    color: #fff;
}
.td-ongoing{
    font-weight: 400;
    width: 16%;
    font-size: 11px;
    background-color: #000;
    color: #fff;
}
.middle-table-data-center input{
    text-align: center;
}
.middle-table-data-right input{
    text-align: right;
}
.no-border {
    border-left: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
}
.bottom-title {
    text-align: right;
    color: #2f2f2f;
    font-weight: 500;
    font-size: 11px;
}
.gst-row {
    background-color: #eaeaea;
}
.gst-row input {
    text-align: right;
}
.total-row {
    background-color: #f7f7f7;
}
.total-row input {
    text-align: right;
    font-size: 15px;
}
.check-button-section {
    padding: 32px;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}
.bottom-data-row {
    padding: 32px;
    margin-top: 0px;
}
.form-footer {
    padding: 30px;
    padding-top: 20px;
    /*border-top: 1px solid #e0e0e0;*/
}
.footer-full-logo img {
    width: 120px;
}
.footer-contact-section {
    text-align: right;
    color: #ff5e5e;
}
.footer-contact-section a {
    color: #ff5e5e;
    padding: 10px;
    font-size: 10px;
}
.footer-text {
    font-size: 9px;
    text-align: right;
    color: #b7b7b7;
    margin-top: -10px;
}
.client-signature {
    width: 22%;
}
.client-signature-input {
    width: 34%;
}
.client-date {
    width: 10%;
}
.client-date-input {
    width: 34%;
}

.management-signature {
    width: 22%;
}
.management-signature-input {
    width: 34%;
}
.management-date {
    width: 10%;
}
.management-date-input {
    width: 34%;
}

/*Input fields*/
.input-invisible {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;
    padding: 0px;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea:focus {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.input-gst {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    background-color: #eaeaea;
}
.input-total {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    background-color: #f7f7f7;
}
.footer-normal-style {
    display: block;
}
.footer-print {
    display: none !important;
}

@media print {
    @page {
        /*size: A4 portrait;*/
    }
    body {
        /*margin: 2mm 2mm 2mm 2mm !important;*/
        /*transform: scale(.94);*/
    }
    * {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
    .client-signature {
        font-size: 11px;
    }
    .management-signature {
        font-size: 11px;
    }
    .client-date {
        font-size: 11px;
    }
    .management-date {
        font-size: 11px;
    }
    .footer-contact-section {
        margin-right: -20px;
    }
    th {
        height: 30px !important;
        padding: 4px !important;
    }
    td {
        height: 35px !important;
        padding: 3px !important;
    }
    .top-data {
        margin-top: 40px;
        width: 150%;
    }
    .bottom-data-row {
        width: 100% !important;
    }
    .bottom-data {
        width: 100% !important;
    }
    .print-changes {
        width: 105% !important;
    }
    .no-border {
        border-bottom: 1px solid #fff !important;
        border-top: 1px solid #fff !important;
    }
    .td-services{
        background-color: #a01d1d !important;
        color: #fff;
        -webkit-print-color-adjust: exact;
    }
    body {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }
    #top-header {
        margin-bottom: -50px !important;
    }
    .company-data-table {
        width: 100%;
    }
    .details-data-table {
        margin-top: 0;
    }
    .details-table {
        margin-top: 30px;
    }
    .bottom-data {
        margin-top: 40px;
    }
    .top-data .row-title {
        background-color: #000;
        color: #fff;
        font-size: 11px;
        font-weight: 600;
        padding: 6px;
    }
    .form-footer {
        border:none !important;
    }
    .footer-print-style {
        position: fixed;
        bottom: 2px !important;
        /*border-top: 1px solid #e0e0e0;*/
        padding-top: 5px;
        page-break-after: always;
        display: block !important;
    }
    .footer-print {
        display: block !important;
    }
    .footer-normal-style {
        display: none !important;
    }
    .input-invisible {
        font-size: 11px !important;
    }
    .input-gst {
        font-size: 11px !important;
    }
    .input-total {
        font-size: 12px;
    }
}