/****************************************************************************************************
 * @name:       LivIconsEvo.css - the styles for LivIcons (Live Icons) Evolution
 * @version:    2.3.XXX (XXX is a total number of icons)
 * @URL:        https://livicons.com
 * @copyright:  (c) 2013-2016 DeeThemes (http://codecanyon.net/user/DeeThemes)
 * @licenses:   http://codecanyon.net/licenses/regular
                http://codecanyon.net/licenses/extended
*****************************************************************************************************/

.livicon-evo-holder {
  width: 0; /*to prevent "flickering" while rendering*/
}
div.livicon-evo-holder {
  display: block;
}
span.livicon-evo-holder {
  display: inline-block;
  vertical-align: middle;
}
.livicon-evo-holder .lievo-svg-wrapper {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%!important;
  padding-bottom: 100%!important;
  vertical-align: middle;
  overflow: hidden!important;
}
.livicon-evo-holder svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden!important;
  width: 100%!important;
  height: 100%!important;
}
.livicon-evo-holder svg,
.livicon-evo-holder svg * {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
.livicon-evo-error {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #c94242;
}
.livicon-evo-error span {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  margin-top: -4px;
}
.livicon-evo-error acronym {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  cursor:help;
  color:#c94242;
  border-bottom: 1px dotted #c94242;
}

/* icons size can be set via media queries */
/*@media (max-width:480px) {
  .livicon-evo-holder {
    width:50px!important;
  }
}
@media (min-width: 481px) {
  .livicon-evo-holder {
    width: 200px!important;
  }
}*/


/*Isuru New Customizations*/
/*------------------------------------------------------------------------------*/

/*Buttons*/
/************* Buttons **************/
.livicon-evo-button {
  display: inline-block;
  position: relative;
  margin: 0 0 15px 0;
  font-weight: 400;
  text-align: left;
  color: rgba(255,255,255,0.9);
  text-transform: uppercase;
  background: #777;
  cursor: pointer;
  border-radius: 0px;
  transition: all 0.2s;
}
.evo-lg {
  padding: 5px 20px 5px 20px;
  font-size: 16px;
  font-weight: 400;
}
.evo-md {
  padding: 2px 10px 2px 10px;
  font-size: 12px;
  font-weight: 400;
}
.evo-sm {
  padding: 1px 5px 1px 5px;
  border: none;
  font-size: 10px;
}
.evo-xs {
  padding: 1px 4px 1px 4px;
  border: none;
  font-size: 8px;
}

.livicon-evo-button:focus {
  outline: none;
}
.livicon-evo-button .livicon-evo {
  float: left;
  opacity: 0.9;
}
.livicon-evo-button span {
  line-height: 1.6;
  margin-left: 15px;
  vertical-align: -webkit-baseline-middle;
}
.evo-md span {
  margin-left: 6px !important;
}
.livicon-evo-button.full-width{
  width: 100%;
}
.livicon-evo-button.divided span {
  margin-left: 30px;
}
.livicon-evo-button.rounded {
  border-radius: 6px;
}
.livicon-evo-button.divided::before {
  display: inline-block;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  content: "";
  background-color: rgba(0,0,0,0.2);
}
.livicon-evo-button.divided.rounded::before {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.livicon-evo-button.blue {
  background:#039BE5;
}
.livicon-evo-button.blue:active,
.livicon-evo-button.blue:focus {
  background: #4FC3F7;
}
.livicon-evo-button.cyan {
  background:#0097A7;
}
.livicon-evo-button.cyan:active,
.livicon-evo-button.cyan:focus {
  background: #00BCD4;
}
.livicon-evo-button.success {
  background:#1abb9c;
}
.livicon-evo-button.success:active,
.livicon-evo-button.success:hover {
  background: #1aa789;
}
.livicon-evo-button.success:active {
  background: #1a886a;
}
.livicon-evo-button.teal {
  background:#009688;
}
.livicon-evo-button.teal:active,
.livicon-evo-button.teal:focus {
  background: #4DB6AC;
}
.livicon-evo-button.green {
  background:#689F38;
}
.livicon-evo-button.green:active,
.livicon-evo-button.green:focus {
  background: #8BC34A;
}
.livicon-evo-button.orange {
  background:#FB8C00;
}
.livicon-evo-button.orange:active,
.livicon-evo-button.orange:focus {
  background: #FFA726;
}
.livicon-evo-button.grey {
  background:#607D8B;
}
.livicon-evo-button.grey:active,
.livicon-evo-button.grey:focus {
  background: #90A4AE;
}
.livicon-evo-button.red {
  background:#FF7043;
}
.livicon-evo-button.red:active,
.livicon-evo-button.red:focus {
  background: #FF8A65;
}
.livicon-evo-button.purple {
  background:#9C27B0;
}
.livicon-evo-button.purple:active,
.livicon-evo-button.purple:focus {
  background: #BA68C8;
}