<div id="client-1" class="col-md-12 client" onclick="openPanel(1);">
    <div class="col-md-4 client-id">
        <span class="slide-down-circle" style="background-color: rgba(66, 195, 76, 1);">90% </span>
        <h3>CL000831</h3>
    </div>
    <div class="col-md-4 client-details">
        <h3>Richard<span>Devonport Pools Ltd</span></h3>
    </div>
    <div class="col-md-4 client-created">
        <p>Isuru L / 13 min ago</p>
    </div>
    <div id="slide-block-loading-1" style="display: none;" class="slide-loading"></div>
    <div id="client-content-1" class="col-md-12" style="overflow-y: auto; max-height: 250px; margin-top: 15px;"><!-- Content --></div>
</div>
<div id="client-2" class="col-md-12 client" onclick="openPanel(2);">
    <div class="col-md-4 client-id">
        <span class="slide-down-circle" style="background-color: rgb(208,203,79);">40% </span>
        <h3>CL000837</h3>
    </div>
    <div class="col-md-4 client-details">
        <h3>Steve<span>Caprice Car Valet</span></h3>
    </div>
    <div class="col-md-4 client-created">
        <p>Dinesh T / 14 Jun</p>
    </div>
    <div id="slide-block-loading-2" style="display: none;" class="slide-loading"></div>
    <div id="client-content-2" class="col-md-12" style="overflow-y: auto; max-height: 250px; margin-top: 15px;"><!-- Content --></div>
</div>
<div id="client-3" class="col-md-12 client" onclick="openPanel(3);">
    <div class="col-md-4 client-id">
        <span class="slide-down-circle" style="background-color: rgb(128, 208, 67);">80% </span>
        <h3>CL000893</h3>
    </div>
    <div class="col-md-4 client-details">
        <h3>Harris Bryce<span>Whaley Harris Durney, ByPass, Buy & Sale</span></h3>
    </div>
    <div class="col-md-4 client-created">
        <p>Prince L / 21 Aug 16</p>
    </div>
    <div id="slide-block-loading-3" style="display: none;" class="slide-loading"></div>
    <div id="client-content-3" class="col-md-12" style="overflow-y: auto; max-height: 250px; margin-top: 15px;"><!-- Content --></div>
</div>